# Python cache files
*.pyc
*.pyo
__pycache__/

# Virtual environment folder
venv/
env/

# Django specific files
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.env
*.sqlite3

# Environment variable files
.env
*.env